.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title {
    font-size: 24px;
}

.content {
    display: flex;
    font-size: 20px;
    background-color: ghostwhite;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
}